<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form th:action="@{/file}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="upload">
    </form>


    <p th:text="${importSheetResult?.message}"></p>
    <table th:if="${importSheetResult?.importSheetErrors != null and !importSheetResult?.importSheetErrors.isEmpty()}">
        <thead>
            <tr>
                <td>Sheet name</td>
                <td>Cell address</td>
                <td>Description</td>
            </tr>
        </thead>
        <tr th:each="error : ${importSheetResult?.importSheetErrors}">
            <td th:text="${error.sheetName}"></td>
            <td th:text="${error.cellAddress}"></td>
            <td th:text="${error.description}"></td>
        </tr>
    </table>

</body>
</html>